<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile-wrapper">
  	<h1>{{user.name}}</h1>
  	<div class="profile-item">
      <span class="profile-label">Role: </span>
      <span class="profile-value" *ngIf="user.role === 1">Speaker</span>
      <span class="profile-value" *ngIf="user.role === 2">Judge</span>
    </div>
    <!-- Only valid for speakers -->
  	<div class="profile-item" *ngIf="user.role === 1">
      <span class="profile-label">Team: </span> 
      <span class="profile-value">{{user.team}}</span>
    </div>
    <!-- Only valid for speakers -->
  	<div class="profile-item" *ngIf="user.role === 1">
      <span class="profile-label">Language Status: </span> 
      <span class="profile-value">{{user.language}}</span>
    </div>
    <!-- Only valid for judges -->
    <div class="profile-item" *ngIf="user.role === 2">
      <span class="profile-label">Institution: </span> 
      <span class="profile-value">{{user.institution}}</span>
    </div>

  	<button class="log-out">Log Out</button>
  </div>
</ion-content>