<ion-header>

  <ion-navbar>
    <ion-title>{{tournament.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div class="loading" *ngIf="users == null">
	    <ion-spinner></ion-spinner>
	  </div>

	<div class="confirm-name" *ngIf="users?.length > 0">
		<h2>Confirm your name</h2>
		<p>Tap on your name below to confirm</p>

		<ion-list>
	      <ion-item 
	      	*ngFor="let user of users" 
	      	(click)="logIn(user)"
	      	text-wrap>
	      	<div class="name">
	      		{{user.user.name}}
	      	</div>
	      </ion-item>
	    </ion-list>
		
	</div>

	<div class="confirm-name" *ngIf="users?.length == 0">
		<p>The URL you entered didn't return any users. Please go back and try again.</p>
	</div>

</ion-content>
