<ion-header>

  <ion-navbar>
    <ion-title>{{tournament.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div class="confirm-name" *ngIf="users?.length > 0; else reenter_url">
		<h2>Confirm your name</h2>
		<p>Tap on your name below to confirm</p>

		<ion-list>
	      <ion-item 
	      	*ngFor="let user of users" 
	      	(click)="logIn(user)"
	      	text-wrap>
	      	<div class="name">
	      		{{user.user.name}}
	      	</div>
	      </ion-item>
	    </ion-list>
		
	</div>

	<ng-template #reenter_url>
		<p>The URL you entered didn't return any users. Please go back and try again.</p>
	</ng-template>
	
	


</ion-content>
