// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$font-family-base: "Lato";
$font-family-md-base: "Lato";
$font-family-ios-base: "Lato";
$font-family-wp-base: "Lato";
$menu-width: 250px;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    	#4d79a6,
  secondary:  	#32db64,
  danger:     	#C14953,
  light:      	#f4f4f4,
  dark:       	#222,
  registration:	#843252,
  round:		#129490,
  social:		#4E3A70,
  workshop:		#D57A66,
  meal:			#90A583,
  misc:			#505050,
  briefing:		#53B3CB,
  transport:	#F9C22E,
  primaryTransparent:  rgba(77, 121, 166, 0.5),
);
$item-wp-paragraph-text-color: black;
$item-ios-paragraph-text-color: black;
$item-md-paragraph-text-color: black;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Roboto+Condensed:400,700&subset=latin-ext');

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: normal;
//   font-weight: 400;
//   src: 
//     local('RobotoCondensed-Regular'),
//     url('../assets/fonts/roboto_condensed/RobotoCondensed-Regular.woff2') format('woff2'),
//     url('../assets/fonts/roboto_condensed/RobotoCondensed-Regular.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: bold;
//   font-weight: 700;
//   src: 
//     local('RobotoCondensed-Bold'),
//     url('../assets/fonts/roboto_condensed/RobotoCondensed-Bold.woff2') format('woff2'),
//     url('../assets/fonts/roboto_condensed/RobotoCondensed-Bold.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: 
//     local('Lato-Regular'),
//     url('../assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
//     url('../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'Lato';
//   font-style: bold;
//   font-weight: 700;
//   src: 
//     local('Lato-Bold'),
//     url('../assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
//     url('../assets/fonts/lato/Lato-Bold.ttf') format('truetype');
// }

