// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-inner > ion-header, 
.menu-inner > ion-content, 
.menu-inner > ion-footer {
    background-color: map-get($colors, primary); 
    color: white;
}
.menu-inner .item {
	background-color: map-get($colors, primary);
	color: white;
	// font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
}
.toolbar-background {
	background-color: map-get($colors, primary);
}
.toolbar-title {
	color: white;
	// font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	font-weight: bold;
}
.menu-inner {
	.item-inner {
		border: none !important;
	}
	.input-wrapper {
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
}

// EVENT STYLING

.schedule-wrapper {
	h2 {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		color: black;
	}
	.item-head {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
	}
	.item-inner {
		border: none !important;
	}
	.item {
		border-left: 4px solid;
		margin: 10px 15px;
		padding: 5px 15px;
	}
	ion-label {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.event-label {
		font-weight: 400;
	}
	.event-subtitle {
		white-space: nowrap; 
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
}

.registration {
	border-color: map-get($colors, registration) !important;
}
.round {
	border-color: map-get($colors, round) !important;
}
.social {
	border-color: map-get($colors, social) !important;
}
.workshop {
	border-color: map-get($colors, workshop) !important;
}
.meal {
	border-color: map-get($colors, meal) !important;
}
.misc {
	border-color: map-get($colors, misc) !important;
}
.transport {
	border-color: map-get($colors, transport) !important;
}
.briefing {
	border-color: map-get($colors, briefing) !important;
}

// hides vertical scroll on menu sidebar
.no-scroll .scroll-content{
  overflow: hidden;
}

.loading {
	width:  100%;
	padding: 50px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;

	.spinner {
		// align-self: center;
	}
}