<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list class="schedule-wrapper" *ngFor="let day of expandedSchedule">
      <h1><b>{{day.date | date}}</b></h1>
      <button detail-none (click)="expandItem(item)" ion-item 
              *ngFor="let item of day.events" 
              [ngClass]="{'registration': item.detail.event.type==1,
                          'round': item.detail.event.type==2,
                          'social': item.detail.event.type==3,
                          'workshop': item.detail.event.type==4,
                          'meal': item.detail.event.type==5,
                          'transport': item.detail.event.type==6,
                          'briefing': item.detail.event.type==7,
                          'misc': item.detail.event.type==8}"
              text-wrap>
        <div class="item-head">
          <h2>{{item.detail.event.name}}</h2>
          <p class="event-subtitle">
            <i class="fas fa-clock"></i> {{item.detail.event.date_start | date:'shortTime'}} - {{item.detail.event.date_end | date:'shortTime'}} &emsp; 
            <i class="fas fa-map-marker-alt"></i> {{item.detail?.room.name}} {{item.detail.venue.name}}
          </p>
        </div>
        <event-detail [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            <div *ngIf="item.detail.event?.description != null">
              {{item.detail.event?.description}}
              <br>
            </div>
            <div *ngIf="item.detail?.round?.infoslide != null">
              <b>Info Slide: </b>{{item.detail?.round?.infoslide}}
              <br>
            </div>
            <div *ngIf="item.detail?.round?.motion != null">
              <b>Motion: </b>{{item.detail?.round?.motion}}
              <br>
            </div>
            
        </event-detail>
      </button>
    </ion-list>

</ion-content>