event-detail {
	font-size: 14px;
	// margin-top: 15px;

	.expand-wrapper {
        transition: 0.2s linear;
        padding-top: 5px;
        // box-sizing: border-box;
    }  
 
    .collapsed {
        height: 0 !important;
    }
}
