<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications Log</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="loading" *ngIf="notifications.length == 0">
      <ion-spinner></ion-spinner>
    </div>
	<ion-list>
	    <div ion-item *ngFor="let notification of notifications" text-wrap>
	    	<div class="notification-head">
	    		<div class="notification-title">
	      			{{notification?.title}}
	      		</div>
	      		<div class="timestamp">
	      			<i class="far fa-clock"></i>
	      			{{notification?.datetime | date:'short'}}
	      		</div>
	      	</div>
	      	<div class="notification-content">
	      		<p>{{notification?.body}}</p>
	      	</div>
	    </div>
  	</ion-list>
</ion-content>