page-tournaments {

	ion-item {
		padding-right: 16px !important;
		.name {
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			font-size: 18px;
			color: map-get($colors, primary);
		}
		.details {
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 14px;

			.bold {
				font-weight: 700;
			}
		}
	}
	ion-title {
		padding-left: 16px !important;
	}

}
