<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>Tournaments</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="loading" *ngIf="tournaments.length == 0">
    <ion-spinner></ion-spinner>
  </div>
<!--   <div>
    {{token}}
  </div> -->

	<ion-list *ngIf="tournaments.length != 0">
      <ion-item 
      	*ngFor="let tournament of tournaments" 
      	(click)="onClickTournament(tournament)"
      	text-wrap>
      	<div class="name">
      		{{tournament.name}}
      	</div>
      	<div class="details">
          <span class="bold">Dates: </span>{{tournament.date_start | date}} - {{tournament.date_end | date}}
          <br>
          <span class="bold">Team cap: </span>{{tournament.cap}}
          <br>
      	</div>
      </ion-item>
    </ion-list>

</ion-content>
